<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <div id="app">
        <div class="main-container">
            <div class="main-box">
                <div class="left-box">
                    <div class="top-bar">
                        <div class="avatar-container">
                            <div class="avatar-box">
                                <img class="avatar" src="./assets/img/avatar_8.jpg" alt="">
                            </div>
                            <span class="nome-utente">
                                Lellone
                            </span>
                        </div>  
                        <div class="icon-box" @click="position()">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div v-if="!banner" class="blue-banner" >
                        <div class="avatar-box">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <p>
                                Ricevi le Notifiche di nuovi messaggi
                            </p>
                            <a href="#">
                                Attiva le notifiche Dekstop
                            </a>
                        </div>
                        <i id="annulla" class="fa-solid fa-x" @click="banner = 'true'"></i>

                    </div>
                    <div class="searchbar">
                        <input type="text">
                        <i class="fa-solid fa-magnifying-glass-arrow-right"></i>
                    </div>
                    <div class="lista-utenti">
                        <div v-for="(element, index) in contacts" :key="index" class="users" @click="contatore(index)">
                            <div class="avatar-box">
                                <img class="avatar" :src="`./assets${element.avatar}`" alt="">
                            </div>
                            <div class="user-information">
                                <span class="nome-utente">
                                    {{element.name}}
                                </span>
                                <span class="ultimo-messaggio" :class="(element.messages[element.messages.length -1].status == 'sent') ? '' : 'bold' ">
                                    {{element.messages[element.messages.length -1].message}}
                                </span>                               
                            </div>
                            <span class="time">
                                {{element.messages[element.messages.length -1].date.split(" ")[1].split(":",2).join(":")}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="right-box">
                    <div class="top-bar">
                        <div class="avatar-container">
                            <div class="avatar-box">
                                <img class="avatar" :src="`./assets${contacts[arrayPosition].avatar}`" alt="">
                            </div>
                            <div class="user-information">
                                <span class="nome-utente">
                                    {{contacts[arrayPosition].name}}
                                </span>
                                <span class="ultimo-accesso">
                                    ultimo acesso il {{contacts[arrayPosition].messages[0].date.split(" ")[0].split(":",2).join(":")}} alle ore: {{contacts[arrayPosition].messages[0].date.split(" ")[1].split(":",2).join(":")}}
                                </span>
                            </div>
                        </div>  
                        <div class="right-icon-box">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="chat-box">
                        <div v-for="(element, index) in contacts[arrayPosition].messages.slice().reverse()" :key="index" :class="element.status">
                            <p class="txt">
                                {{element.message}}
                            </p>
                            <span class="orario-mex">
                                {{element.date.split(" ")[1].split(":",2).join(":")}}
                            </span>
                        </div>                     
                    </div>
                    <div class="chat-input">
                        <div class="chat-icon">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>
                        <div class="text-tosend">
                            <input type="text" v-model="newMes" @keyup.enter="InviaMessaggio(arrayPosition)" placeholder="inserisci il tuo messaggio">
                        </div>
                        <div class="chat-icon">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/main.js"></script>
</head>
<body>
    
</body>
</html>