* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Sans-Serif;
    font-weight: 500;
    font-size: 13px;
}

.main-container {
    width: 100%;
    height: 100vh;
    background: rgb(74,196,111);
    background: linear-gradient(180deg,rgb(0,150,136) 20%, rgb(220,219,209) 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box {
    flex-basis: 80%;
    height: 90vh;
    background-color: white;
    display: flex;
}

.left-box {
    flex-basis: calc(100% /3);
    height: 90vh;
    border-right: 1px solid rgb(224,224,224);
    display: flex;
    flex-direction: column;
}

.right-box {
    flex-basis: calc((100% / 3)*2);
    height: 90vh;
}

.top-bar {
    height: 10%;
    padding: 10px;
    background-color: rgb(234,234,234);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-banner {
    height: 10%;
    width: 100%;
    padding: 10px;
    background-color: rgb(142,218,252);
    display: flex;
    align-items: center;
    position: relative;
}

#annulla {
    position: absolute;
    top : 10px;
    right: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.avatar-container {
    display: flex;
    align-items: center;
}

.avatar-box {
    height: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-banner .avatar-box {
    height: 40px;
    background-color: white;
    margin: 0px 10px 0 10px;

}

.blue-banner a {
    font-size: 10;
    color: black;
    opacity: 60%;

}

.fa-solid,
.fa-regular {
    font-size: 18px;
    opacity: 50%;

}

.fa-solid:not(.fa-bell-slash),
.fa-regular{
    cursor: pointer;
}

.fa-solid:not(.fa-bell-slash, .fa-magnifying-glass-arrow-right):hover,
.fa-regular:hover{
    font-size:2rem;
}

.avatar-box .fa-solid {
    color: rgb(142,218,252);;
}

.avatar-container span {
    display: inline-block;
    margin-left: 10px;
}

.avatar {
    height: 100%;
}

.icon-box {
    font-size: 20px;
    flex-basis: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-box .fa-solid,
.right-icon-box .fa-solid{
    opacity: 30%;
}

.right-icon-box {
    font-size: 20px;
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.user-information {
    display: flex;
    flex-direction: column;
}

.user-information span {
    display:inline-block;
}

.ultimo-accesso,
.ultimo-messaggio,
.time {
    font-size: 12px ;
    opacity: 50%;
}

.lista-utenti {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
}

.users {
    flex-basis: 10%;
    width: 100%;
    border-top:1px solid rgb(224,224,224);
    display: flex;
    align-items:start;
    padding: 10px;
    cursor: pointer;
}

.users:hover {
    background-color: rgb(224,224,224);
}

.users .avatar-box {
    margin-left: 10px;
}

.searchbar {
    border-top: 1px solid rgb(224,224,224);
    background-color: rgb(234,234,234);
    padding: 5px;
    position: relative;
}

.searchbar input {
    height: 25px;
    width: 100%;
    border:1px solid rgb(224,224,224);
    padding-left: 50px;

}

.searchbar input:focus,
.text-tosend input:focus {
    box-shadow: none;
    outline: none;
}

.searchbar .fa-solid{
    position: absolute;
    font-size: 13px;
    left: 30px;
    top: 11px;
    opacity: 50%;
}

.nome-utente {
    font-size: 15px;
    font-weight: bold;
}

.users .user-information {
    margin-left: 10px;
    flex-basis: 40%;
}

.time {
    width: 40%;
    text-align: end;
}

.chat-box {
    height: 80%;
    width: 100%;
    background-image: url(../img/mine.jpg);
    overflow-y:auto;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.received{
    background-color: white;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    align-self:flex-start;
    padding: 5px;
    min-height: 40px;
    margin-left: 50px;
    
}

.sent {
    background-color: rgb(212,249,185);
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    align-self:flex-end;
    padding: 5px;
    min-height: 40px;
    margin-right: 50px;
}

.chat-input {
    background-color: rgb(243,238,234);
    height: 10%;
    width: 100%;
    display: flex;
}

.orario-mex {
    align-self: flex-end;
    font-size: 10px;
    opacity: 50%;
}

.txt {
    margin-left: 10px;
    margin-right: 20px;
}

.text-tosend {
    flex-basis: 80%;

}

.text-tosend input {
    width: 100%;
    height: 60%;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
}

.chat-icon {
    flex-basis: 10%;
}

.chat-icon,
.text-tosend {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: 600;
    opacity: 60%;
}

.relative {
    position: relative;
}

.triangle {
    position: absolute;
    top: 3px;
    right: 10px;
}
 #chev {
    font-size: 10px!important;
 }

.choice {
    background-color: rgba(255, 255, 255, 0.893);
    position: absolute;
    width: 120px;
    top: 20px;
    right: 20px;
    text-align: center;
    z-index: 99;
}

.choice div {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.345);
    padding: 3px 10px;
}

.choice div:hover {
    background-color: rgb(224,224,224);
}

